
*.veo
*.vho
*.v
*.prj
*.do
*.sh
*.udo
*.f
*.wdf
*.wpc
*.xml
*.lpr
*.txt
*.tcl
*.opt
*.ini
*.rst
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/clk_wiz_0_synth_1/__synthesis_is_complete__
*.dcp
*.vds
*.pb
*.rpt
*.js
*.bat
*.log
*.jou
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/fifo_50_eth_synth_1/__synthesis_is_complete__
*.obj
*.wdb
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/ila_0_synth_1/__synthesis_is_complete__
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/fifo_ref_81_synth_1/__synthesis_is_complete__
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/fifo_81_eth_synth_1/__synthesis_is_complete__
*.c
*.info
*.html
*.dbg
*.mem
*.reloc
*.rlx
*.rtti
*.svtype
*.type
*.xdbg
*.exe
*.vdb

*.wcfg
*.xpr
*.out
*.in
*.vh
*.sv
*.xci
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/mig_axis_synth_1/__synthesis_is_running__
CODE/CODE.runs/clk_wiz_0_synth_1/__synthesis_is_complete__
CODE/CODE.runs/fifo_50_eth_synth_1/__synthesis_is_complete__
CODE/CODE.runs/fifo_81_50_synth_1/__synthesis_is_complete__
CODE/CODE.runs/fifo_81_eth_synth_1/__synthesis_is_complete__
CODE/CODE.runs/fifo_ref_81_synth_1/__synthesis_is_complete__
CODE/CODE.runs/ila_0_synth_1/__synthesis_is_complete__
CODE/CODE.runs/mig_7series_synth_1/__synthesis_is_complete__
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/mig_7series_synth_1/__synthesis_is_complete__
FPGA_BASED_RADAR_ACQUISITION_AND_PREPROCESSING_UNIT.runs/fifo_81_50_synth_1/__synthesis_is_complete__
